img{
    position:fixed;
    z-index: -1;
}
div{
    height: 260px;
    width: 260px;
}
p{
    margin-top: 0;
    font-size: 20px;
    font-weight: 900;
}
#one{
    margin-top: -260px;
}

#two{
    margin-left: 260px;
    margin-top: -233px;
}
#three{
    margin-left: 520px;
    margin-top: -260px;
}
#four{
    margin-left: 780px;
    margin-top: -260px;
}
#five{
    margin-left: 1040px;
    margin-top: -260px;
}
#six{
    
    margin-top: 0px;
    margin-left: 0px;
}
#seven{
    margin-left: 260px;
    margin-top: -260px;
}
#eight{
    margin-left: 520px;
    margin-top: -260px;
}
#nine{
    margin-left: 780px;
    margin-top: -260px;
}
#ten{
    margin-left: 1040px;
    margin-top: -260px;
}
#eleven{
    margin-top: 0px;
    margin-left: 0px;
}
#twelve{
    margin-left: 260px;
    margin-top: -260px;
}
#thirteen{
    margin-left: 520px;
    margin-top: -260px;
}
#fourteen{
    margin-left: 780px;
    margin-top: -260px;
}
#fifteen{
    margin-left: 1040px;
    margin-top: -260px;
}
#sixteen{
    margin-left: 0px;
    margin-top: 0px;
}
#seventeen{
    margin-left: 260px;
    margin-top: -260px;
}
#eighteen{
    margin-left: 520px;
    margin-top: -260px;
}
#nineteen{
    margin-left: 780px;
    margin-top: -260px;
}
#twenty{
    margin-left: 1040px;
    margin-top: -260px;
}
#twentyone{
    margin-left: 0px;
    margin-top: 0px;
}
#twentytwo{
    margin-left: 260px;
    margin-top: -260px;
}
#twentythree{
    margin-left: 520px;
    margin-top: -260px;
}
#twentyfour{
    margin-left: 780px;
    margin-top: -260px;
}
#twentyfive{
    margin-left: 1040px;
    margin-top: -260px;
}
